.panel {

    .panel-header {

        display: table;
        width: 100%;
        

        h2 {
            float:left;
            margin-bottom: 20px;
        }

        button { 
            float: right;
            margin-left: 20px;
            margin-bottom: 16px;
        }

        .search {

            float: right;
            margin-bottom: 20px;
        }
    }
}